---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Certificates from '../components/Certificates.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import { useTranslations } from '../i18n/utils';

const t = useTranslations('en');
const siteUrl = 'https://kamiljaworski.pl';
---

<Layout
  title={t.meta.title}
  description={t.meta.description}
  keywords={t.meta.keywords}
  ogTitle={t.meta.ogTitle}
  ogDescription={t.meta.ogDescription}
  canonicalUrl={`${siteUrl}/`}
>
  <div class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0">
    <div class="lg:flex lg:justify-between lg:gap-4">
      <!-- Left: sticky sidebar -->
      <div class="lg:w-1/2 lg:py-24">
        <Hero t={t} />
      </div>

      <!-- Right: scrollable content -->
      <main id="content" class="pt-12 lg:w-1/2 lg:py-24">
        <About t={t} />
        <Experience t={t} />
        <Certificates t={t} />
        <Skills t={t} />
        <Contact t={t} />
      </main>
    </div>
  </div>
</Layout>
